<section>
  <div class="container">
    <table class="table table-striped">
      <thead class="bg-primary">
        <tr>
          <th scope="col" class="text-center"><%= t "institution.img" %></th>
          <th scope="col"><%= t "institution.title" %></th>
          <th scope="col" class="text-center"><%= t "job.position" %></th>
          <th scope="col" class="text-center"><%= t "job.due_date" %></th>
          <th scope="col" class="text-center"><%= t "institution.choose" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "institutions/job", collection: @jobs %>
      </tbody>
    </table>
  </div>
</section>
