<tr>
  <th scope="row" class="text-center"><%= image_tag user.avatar, class: "img-job" %></th>
  <td><%= user.full_name %></td>
  <td class="text-center"><%= user.email %></td>
  <td class="text-center"><%= user.phone_number %></td>
  <% if current_user.id == @institution.created_by && current_user != user %>
    <td class="text-center">
      <%= link_to t("btn.remove"), fire_institution_path(email: user.email), class: "btn btn-danger", method: :patch, remote: true, "data-confirm": t("sure?") %>
    </td>
  <% else %>
    <td class="text-center"><i>Root!</i></td>
  <% end %>
</tr>
