<%= render "institutions/wrap" %>

<% if @institution.id != 1 %>
  <nav class="nav nav-institution justify-content-center mb-5">
    <%= link_to t("institution.about_us"), institution_path(id: @institution.id), class: "nav-link" %>
    <%= link_to t("institution.our_post"), jobs_institution_path(id: @institution.id), class: "nav-link active" %>
    <% if current_user.institution_id == @institution.id %>
      <%= link_to t("institution.hr"), users_institution_path(id: @institution.id), class: "nav-link" %>
    <% end %>
  </nav>

  <section>
    <div class="container">
      <table class="table table-striped">
        <thead class="bg-primary">
          <tr>
            <th scope="col" class="text-center"><%= t "institution.img" %></th>
            <th scope="col"><%= t "institution.title" %></th>
            <th scope="col" class="text-center"><%= t "job.position" %></th>
            <th scope="col" class="text-center"><%= t "job.due_date" %></th>
            <th scope="col" class="text-center"><%= t "institution.choose" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "institutions/job", collection: @jobs %>
        </tbody>
      </table>
    </div>
  </section>
<% end %>
