<%= render "institutions/wrap" %>

<% if @institution.id != 1 %>
  <nav class="nav nav-institution justify-content-center mb-5">
    <%= link_to t("institution.about_us"), institution_path(id: @institution.id), class: "nav-link" %>
    <%= link_to t("institution.our_post"), jobs_institution_path(id: @institution.id), class: "nav-link" %>
    <%= link_to t("institution.hr"), users_institution_path(id: @institution.id), class: "nav-link active" %>
  </nav>

  <section>
    <div class="container">
      <%= form_tag institution_path, method: :patch, class: "input-group justify-content-end mb-3" do %>
        <div class="form-outline">
          <%= email_field_tag :email, "", class:"form-control email-w", placeholder: "#{t "login.username"}", required: true %>
        </div>
        <%= submit_tag t("institution.btn_add_user"), class:"btn btn-success" %>
      <% end %>
      <table class="table table-striped">
        <thead class="bg-primary">
          <tr>
            <th scope="col" class="text-center"><%= t "institution.img" %></th>
            <th scope="col"><%= t "register.full_name" %></th>
            <th scope="col" class="text-center"><%= t "login.username" %></th>
            <th scope="col" class="text-center"><%= t "register.phone" %></th>
            <% if current_user.id == @institution.created_by %>
              <th scope="col" class="text-center"><%= t "institution.choose" %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "institutions/user", collection: @users %>
        </tbody>
      </table>
    </div>
  </section>
<% end %>
