<div class="short-wrap"></div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-4">
      <div class="col-md-12 heading-section text-center">
        <h2 class="subheading mb-4"><%= t "menu_list.cvs" %></h2>
      </div>
    </div>
    <%= form_tag candidate_curriculum_vitaes_path, method: :get, class: "input-group justify-content-end mb-3" do %>
      <div class="form-outline">
        <%= select_tag :field_id, options_for_select(Field.select("id, field_name").map{|f| [f.field_name, f.id]}), include_blank: :All_Fields, class: "form-control" %>
      </div>
      <%= submit_tag t("btn.search"), class:"btn btn-success" %>
    <% end %>
    <div class="row">
      <table class="table table-striped">
        <thead class="bg-primary">
          <tr>
            <th scope="col" class="text-center"><%= t "institution.img" %></th>
            <th scope="col"><%= t "job.field" %></th>
            <th scope="col" class="text-center"><%= t "cv.title.education" %></th>
            <th scope="col" class="text-center"><%= t "cv.title.experience" %></th>
            <th scope="col" class="text-center"><%= t "institution.choose" %></th>
          </tr>
        </thead>
        <tbody id="cvs">
          <%= render partial: "candidate/curriculum_vitaes/cv", collection: @cvs %>
        </tbody>
      </table>
    </div>
  </div>
</div>
