<div class="layer1">
  <div class="layer2">
    <h1 class="title">
      <%= t "email.subject.active_account" %>
    </h1>
    <p><%= t "email.hi" %> <%= @user.full_name %>,</p>
    <p><%= t "email.message.active_account" %></p>
    <%= link_to t("email.btn.active"), edit_account_activation_url(id:
    @user.activation_token, email: @user.email), class: "btn" %>
    <p><%= raw t("email.signature") %></p>
  </div>
</div>
