<div class="short-wrap"></div>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 js-fullheight scroll">
        <div class="row mx-auto">
          <div class="col-md-12 text-center">
            <%= image_tag @cv.user.avatar, alt: @cv.user.full_name, class: "img-avt" %>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-4">
                <p class="font-weight-bold"><%= t "register.full_name" %></p>
              </div>
              <div class="col-sm-8">
                <p><%= @cv.user.full_name %></p>
              </div>
              <div class="col-sm-4">
                <p class="font-weight-bold"><%= t "register.phone" %></p>
              </div>
              <div class="col-sm-8">
                <p><%= @cv.user.phone_number %></p>
              </div>
              <div class="col-sm-4">
                <p class="font-weight-bold"><%= t "register.birthday" %></p>
              </div>
              <div class="col-sm-8">
                <p><%= l(@cv.user.date_of_birth,format: :notime) %></p>
              </div>
              <div class="col-sm-4">
                <p class="font-weight-bold"><%= t "register.address" %></p>
              </div>
              <div class="col-sm-8">
                <p><%= @cv.user.address %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="cv-content">
          <!--About me-->
          <div class="row">
            <h3><%= t "cv.title.about_me" %></h3>
            <div class="component">
              <p><%= @cv.about_me %></p>
            </div>
          </div>
          <!--Education-->
          <div class="row">
            <h3 class="col-12 row"><%= t "cv.title.education" %></h3>
            <% @cv.educations.each do |education| %>
              <div class="font-weight-bold ml-4"><%= education.university_name %></div>
              <div class="ml-5">
                <%= l(education.start_date, format: :notime) %>
                -
                <%= l(education.end_date, format: :notime) %>
              </div>
              <div class="ml-5 d-flex">
                <div class="font-italic mr-2">GPA: </div>
                <span><%= education.gpa %></span>
              </div>
            <% end %>
          </div>
          <!--Experience-->
          <div class="row">
            <h3><%= t "cv.title.experience" %></h3>
            <% @cv.experiences.each do |experience| %>
              <div class="font-weight-bold ml-4"><%= experience.company_name %></div>
              <div class="ml-5">
                <%= l(experience.start_date, format: :notime) %>
                -
                <%= l(experience.end_date, format: :notime) %>
              </div>
            <% end %>
          </div>
          <!--Extra-Experience-->
          <div class="row">
            <h3><%= t "cv.title.extra_experience" %></h3>
            <% @cv.extra_experiences.each do |extra_experience| %>
              <div class="font-weight-bold ml-4"><%= experience.company_name %></div>
              <div class="ml-5">
                <%= l(extra_experience.start_date, format: :notime) %>
                -
                <%= l(extra_experience.end_date, format: :notime) %>
              </div>
            <% end %>
          </div>
          <!--Skills-->
          <div class="row">
            <h3><%= t "cv.title.skills" %></h3>
            <% @cv.skills.each do |skill| %>
              <li class="font-weight-bold ml-4"><%= skill.skill_name %></li>
            <% end %>
          </div>
          <!--Language-->
          <div class="row">
            <h3><%= t "cv.title.languages" %></h3>
            <% @cv.languages.each do |language| %>
              <li class="font-weight-bold ml-4"><%= language.language_name %></li>
            <% end %>
          </div>
          <!--Hobbies-->
          <div class="row">
            <h3><%= t "cv.title.hobbies" %></h3>
            <% @cv.hobbies.each do |hobbie| %>
              <li class="font-weight-bold ml-4"><%= hobbie.hobbie_name %></li>
            <% end %>
          </div>
          <div class="row">
            <h3><%= t "cv.title.references" %></h3>
            <% @cv.references.each do |reference| %>
              <div class="font-weight-bold ml-4"><%= reference.name %></div>
              <div class="ml-5">
                <%= reference.phone_number %>
              </div>
              <div class="ml-5">
                <%= reference.email %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="container">
          <h2>Video call</h2>
          <div id="incoming-call-notice" style="display: none;">
            <div class="spinner-grow text-primary" role="status"  >
              <span class="sr-only">Incoming call...</span>
            </div>
            <h3>Incoming call...</h3>
          </div>
        </div>
        <div id="video-container">
          <video id="localVideo" autoplay muted></video>
          <video id="remoteVideo" autoplay style="height: 360px;"></video>
        </div>
        <div class="row">
          <div class="col" id="action-buttons">
            <button id="callButton" class="btn btn-success">Call</button>
            <button id="answerCallButton" class="btn btn-info hidden-first">Answer Call</button>
            <button id="rejectCallButton" class="btn btn-warning hidden-first">Reject Call</button>
            <button id="endCallButton" class="btn btn-danger hidden-first">End Call</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "common/calling_lib" %>

<script>
  var token = 'eyJjdHkiOiJzdHJpbmdlZS1hcGk7dj0xIiwidHlwIjoiSldUIiwiYWxnIjoiSFMyNTYifQ.eyJqdGkiOiJTS1dSZG0wTTZGS3BVNUdHWkZIYlNxd2VIakhGWEFaOGdVLTE2MTc4MDYzMDYiLCJpc3MiOiJTS1dSZG0wTTZGS3BVNUdHWkZIYlNxd2VIakhGWEFaOGdVIiwiZXhwIjoxNjIwMzk4MzA2LCJ1c2VySWQiOiJyZWNydWl0ZXIifQ.xs0y3Hit0M4IRAWRgFN-Fr21oxlvHcos-rgXERIznIg';
  var callerId = 'recruiter';
  var calleeId = 'candidate';
</script>
<%= javascript_pack_tag "call", "data-turbolinks-track": "reload" %>
