<div class="short-wrap d-sm-none d-lg-block"></div>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 job-section js-fullheight-no-ftco scroll" style="padding: 0">
        <div class="text row">
          <div class="col">
            <h2><%= @job.title %></h2>
            <div class="row col">
              <div class="mr-3"><i class="fas fa-user-md"></i><%= @job.field.field_name %></div>
              <span class="type"><%= t "recruitment_post.type.#{@job.type_of_work}" %></span>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="mr-3"><i class="fas fa-briefcase"></i><%= t "recruitment_post.position.#{@job.position}" %></div>
                <div class=""><i class="fas fa-money-bill-alt"></i><%= t("wage", wage: exchange_money(@job.min_salary)) %> - <%= t("wage", wage: exchange_money(@job.max_salary)) %></div>
                <div class="d-flex align-items-center">
                  <i class="fas fa-clock"></i>
                  <div countdown="" data-date="<%= @job.due_date %>">
                    <span data-days=""></span> <%= t "time.count.days" %>
                    <span data-hours=""></span> <%= t "time.count.h" %>
                    <span data-minutes=""></span> <%= t "time.count.m" %>
                    <span data-seconds=""></span> <%= t "time.count.s" %>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class=""><i class="fas fa-medal"></i><%= t("recruitment_post.year", count: @job.candidate_experience) %></div>
                <div><i class="fa fa-map-marker"></i><%= @job.user.institution.address %></div>
                <div class=""><i class="fas fa-users"></i><%= t("recruitment_post.staff", count: @job.number_of_staffs) %></div>
              </div>
            </div>
            <div>
              <h3><%= t "job.description" %></h3>
              <div><%= @job.content %></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="container">
          <h2>Video call</h2>
          <div id="incoming-call-notice" style="display: none;">
            <div class="spinner-grow text-primary" role="status"  >
              <span class="sr-only">Incoming call...</span>
            </div>
            <h3>Incoming call...</h3>
          </div>
        </div>
        <div id="video-container">
          <video id="localVideo" autoplay muted></video>
          <video id="remoteVideo" autoplay style="height: 360px;"></video>
        </div>
        <div class="row">
          <div class="col" id="action-buttons">
            <button id="callButton" class="btn btn-success">Call</button>
            <button id="answerCallButton" class="btn btn-info hidden-first">Answer Call</button>
            <button id="rejectCallButton" class="btn btn-warning hidden-first">Reject Call</button>
            <button id="endCallButton" class="btn btn-danger hidden-first">End Call</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "common/calling_lib" %>

<script>
  var token = 'eyJjdHkiOiJzdHJpbmdlZS1hcGk7dj0xIiwidHlwIjoiSldUIiwiYWxnIjoiSFMyNTYifQ.eyJqdGkiOiJTS29JWDZNQlhkcUJVSXJKdG9FU0hCOExlQVlscGphNktKLTE2MjIxNjU2OTAiLCJpc3MiOiJTS29JWDZNQlhkcUJVSXJKdG9FU0hCOExlQVlscGphNktKIiwiZXhwIjoxNjIyMjA4ODkwLCJ1c2VySWQiOiJjYW5kaWRhdGUifQ.csY0GJR_N1blHqQEGpTQdIngJU51HOPJ-o3ZRa0TkD8';
  var callerId = 'candidate';
  var calleeId = 'recruiter';
</script>
<%= javascript_pack_tag "call", "data-turbolinks-track": "reload" %>
