<tr>
  <th scope="row" class="text-center"><%= image_tag user.avatar, class: "img-job" %></th>
  <td><%= user.full_name %></td>
  <td class="text-center"><%= user.email %></td>
  <td class="text-center"><%= user.phone_number %></td>
  <% if params[:role].blank? %>
    <td class="text-center"><%= t "register.roles.#{user.role}" %></td>
  <% end %>
  <td>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalLong<%= user.id %>">
      <%= t "btn.detail" %>
    </button>
    <% if !user.admin? %>
      <% if user.actived? %>
        <%= link_to t("account.btn_block"), block_admin_user_path(id: user.id, role: params[:role]), class: "btn btn-danger", method: :patch, remote: true, "data-confirm": t("sure?") %>
      <% else %>
        <%= link_to t("account.btn_active"), active_admin_user_path(id: user.id, role: params[:role]), class: "btn btn-success", method: :patch, remote: true, "data-confirm": t("sure?") %>
      <% end %>
    <% end %>
  </td>
</tr>

<div class="modal fade" id="exampleModalLong<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= t "btn.detail" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="container">
          <div class="text-center mb-3">
            <%= image_tag user.avatar, alt: user.full_name, class: "img-avt" %>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p class="font-weight-bold"><%= t "register.full_name" %></p>
            </div>
            <div class="col-sm-8">
              <p><%= user.full_name %></p>
            </div>
            <div class="col-sm-4">
              <p class="font-weight-bold"><%= t "register.phone" %></p>
            </div>
            <div class="col-sm-8">
              <p><%= user.phone_number %></p>
            </div>
            <div class="col-sm-4">
              <p class="font-weight-bold"><%= t "register.birthday" %></p>
            </div>
            <div class="col-sm-8">
              <p><%= l(user.date_of_birth,format: :notime) %></p>
            </div>
            <div class="col-sm-4">
              <p class="font-weight-bold"><%= t "register.address" %></p>
            </div>
            <div class="col-sm-8">
              <p><%= user.address %></p>
            </div>
            <div class="col-sm-4">
              <p class="font-weight-bold"><%= t "account.role" %></p>
            </div>
            <div class="col-sm-8">
              <p><%= t "register.roles.#{user.role}" %></p>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t "btn.close" %></button>
      </div>
    </div>
  </div>
</div>
