<div class="short-wrap d-sm-none d-lg-block"></div>

<section class="ftco-section" style="padding: 5em 0">
  <nav class="nav nav-institution justify-content-center mb-5">
    <%= link_to t("register.roles.all"), admin_users_path(), class: "nav-link #{"active" if params[:role].blank?}" %>
    <%= link_to t("register.roles.candidate"), admin_users_path(role: 0), class: "nav-link #{"active" if params[:role] == "0"}" %>
    <%= link_to t("register.roles.recruiter"), admin_users_path(role: 1), class: "nav-link #{"active" if params[:role] == "1"}" %>
    <%= link_to t("register.roles.admin"), admin_users_path(role: 2), class: "nav-link  #{"active" if params[:role] == "2"}" %>
  </nav>
  <div class="container">
    <div class="row justify-content-center pb-4">
      <div class="col-md-12 heading-section text-center">
        <h2 class="subheading mb-4"><%= t "menu_list.manage_users" %></h2>
      </div>
    </div>
    <%= form_tag admin_users_path, method: :get, class: "input-group justify-content-end mb-3" do %>
      <div class="form-outline">
        <%= text_field_tag :email, "", class:"form-control email-w", value: params[:email], placeholder: "#{t "login.username"}" %>
      </div>
      <%= submit_tag t("btn.search"), class:"btn btn-success" %>
    <% end %>
    <div class="row">
      <table class="table table-striped">
        <thead class="bg-primary" id="head">
          <%= render "admin/users/head" %>
        </thead>
        <tbody id="users">
          <%= render partial: "admin/users/user", collection: @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>
