<div class="short-wrap"></div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-4">
      <div class="col-md-12 heading-section text-center">
        <h2 class="subheading mb-4"><%= t "institution.btn_create" %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <%= form_for [:recruiter, @institution], url: recruiter_institutions_path, class: "form-group" do |f| %>
          <div class="row mb-2">
            <div class="col-md-4 text-center">
              <%= f.label :logo do %>
                <%= f.file_field :logo, accept:"image/*", class:"d-none" %>
                <%= image_tag "logos/1.jpg", id:"output_image", class:"img-avt" %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="text-danger d-inline">*</div>
              <%= f.label :institution_name, t("institution.name") %>
              <%= f.text_field :institution_name, class: "form-control", required: true %>
              <div class="text-danger d-inline">*</div>
              <%= f.label :address, t("institution.address") %>
              <%= f.text_field :address, class: "form-control", required: true %>
            </div>
          </div>
          <div class="text-danger d-inline">*</div>
          <%= f.label :description, t("institution.description") %>
          <%= f.text_area :description, class: "form-control pt-5 pb-5 mb-3", required: true %>
          <div class="text-center mb-5">
            <%= link_to t("btn.close"), root_path, class: "btn btn-secondary", "data-dismiss": "modal" %>
            <%= f.submit t("btn.create"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
